<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Change to false after completing this projrect -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--    authentication   -->
    <authentication mode="Forms">
      <forms loginUrl="Guest/login.aspx" defaultUrl="Member/profile.aspx" name=".BnGMAUTH" timeout="30" />
    </authentication>
    <!--    Error Handiling   -->
    <customErrors defaultRedirect="Extras/ErrorReport.aspx?id=error" mode="RemoteOnly">
      <error statusCode="404" redirect="Extras/ErrorReport.aspx?id=404" />
      <error statusCode="403" redirect="Extras/ErrorReport.aspx?id=403" />
    </customErrors>
    <httpHandlers>
    </httpHandlers>
  </system.web>
  <!-- This section sets all the custom application settings-->
  <appSettings>
    <!-- Running , Stoped , Setup-->
    <add key="sitestatus" value="Running" />
    <add key="message" value="Running" />
    <!--     Mail Settings -->
    <add key="mailserver" value="localhost" />
    <!--     DB Settings -->
    <add key="server" value="SQLServer" />
    <add key="database" value="BnGMatrimonials" />
    <add key="datasource" value="SHRI-1" />
    <add key="userid" value="sa" />
    <add key="password" value="123456" />
    <add key="timeout" value="15" />
    <!--     Web Settings -->
    <add key="sitename" value="http://www.bngmatrimonials.com" />
    <add key="fname" value="Matrimonials" />
    <add key="logopath" value="~/Resources/logo.jpg" />
    <add key="title" value="Bride n Groom Matrimonials" />
    <add key="metadiscription" value="Bride &amp; Groom Matrimonials - Indian Matrimonial, The No.1 Matrimonial Services&#xA;Provider. Add your Free Matrimonials Profile Now! and Contact Partners&#xA;for FREE!&quot; " />
    <add key="metakeword" value="matrimonial,matrimonials,Kerala matrimonial,Indian Matrimonial,Hindu, sikh,muslim,cristian,bride,groom,malayalum,telugu,kannada,tamil,hindi,free listing,free matrimonial, matrimoni" />
    <add key="webfooter" value="Copyright © 2007-2008 bngmatrimonial.com - All Rights Reserved" />
    <!--     Contact Settings -->
    <add key="emailFrom" value="administrator@matrimony.com" />
    <add key="emailTo" value="support@matrimony.com" />
    <add key="emailFeedBack" value="Feedback@matrimony.com" />
    <add key="emailContact" value="enquiry@matrimony.com" />
    <add key="emailSales" value="sales@matrimony.com" />
    <add key="emailPhoto" value="photos@matrimony.com" />
    <add key="emailHoro" value="Horoscop@matrimony.com" />
    <add key="emailSStory" value="SuccessStory@matrimony.com" />
  </appSettings>
</configuration>