BODY
{
  FONT-SIZE: 9pt;
  COLOR: #4B4B4B;
  LINE-HEIGHT: 17px;
  MARGIN-TOP: 0PX;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

TD
{
  FONT-SIZE: 9pt;
  COLOR: #4B4B4B;
  LINE-HEIGHT: 17px;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

BR
{
  FONT-SIZE: 4pt;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.MAIL_TOP
{
  FONT-SIZE: 12pt;
  COLOR: #E85C00;
  FONT-WEIGHT=BOLD;
  FONT-FAMILY: "µ¸¿ò", "Arial", "sans-serif"
}

INPUT,SELECT,TEXTAREA
{
  FONT-SIZE: 9pt;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.POINT01
{
  FONT-SIZE: 9pt;
  COLOR: #E85C00;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: UNDERLINE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.POINT01_1
{
  FONT-SIZE: 11pt;
  COLOR: #E85C00;
  LINE-HEIGHT: 17px;
  FONT-WEIGHT=BOLD;
  TEXT-DECORATION: UNDERLINE;
  FONT-FAMILY: "µ¸¿ò", "Arial", "sans-serif"
}

.POINT02
{
  FONT-SIZE: 9pt;
  COLOR: #003399;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: UNDERLINE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.POINT02_1
{
  FONT-SIZE: 11pt;
  COLOR: #003399;
  LINE-HEIGHT: 17px;
  FONT-WEIGHT=BOLD;
  TEXT-DECORATION: UNDERLINE;
  FONT-FAMILY: "µ¸¿ò", "Arial", "sans-serif"
}

.POINT03
{
  FONT-SIZE: 9pt;
  COLOR: #003399;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: none;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.POINT03_1
{
  FONT-SIZE: 11pt;
  COLOR: #003399;
  LINE-HEIGHT: 17px;
  FONT-WEIGHT=BOLD;
  TEXT-DECORATION: none;
  FONT-FAMILY: "µ¸¿ò", "Arial", "sans-serif"
}

.POINT04
{
  FONT-SIZE: 9pt;
  COLOR: #E85C00;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: none;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.POINT04_1
{
  FONT-SIZE: 11pt;
  COLOR: #E85C00;
  LINE-HEIGHT: 17px;
  FONT-WEIGHT=BOLD;
  TEXT-DECORATION: none;
  FONT-FAMILY: "µ¸¿ò", "Arial", "sans-serif"
}

.TAB
{
  FONT-SIZE: 9pt;
  COLOR: #FFFFFF;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-WEIGHT=BOLD;
  PADDING-TOP:6px;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.POPUP_DEP
{
  PADDING-TOP:20PX;
  PADDING-LEFT:16PX;
  PADDING-RIGHT:16PX;
  PADDING-BOTTOM:20PX;
}

.DEP01
{
  PADDING-LEFT:16PX;
  PADDING-RIGHT:16PX;
  PADDING-BOTTOM:20PX;
}

.DEP02_TITLE
{
  PADDING-LEFT:15PX;
}

.DEP02_CONTENTS
{
  PADDING-LEFT:27PX;
}

.DEP03_TITLE
{
  PADDING-LEFT:27PX;
}

.DEP03_CONTENTS
{
  PADDING-LEFT:42PX;
}

.DEP01_TABLE
{
  PADDING-LEFT:10PX;
}

.MENU:LINK
{
  FONT-SIZE: 9pt;
  COLOR: #272727;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.MENU:VISITED
{
  FONT-SIZE: 9pt;
  COLOR: #272727;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.MENU:HOVER
{
  FONT-SIZE: 9pt;
  COLOR: #272727;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-WEIGHT=BOLD;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.EC_NOTICE:LINK
{
  FONT-SIZE: 9pt;
  COLOR: #DBEDF4;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.EC_NOTICE:VISITED
{
  FONT-SIZE: 9pt;
  COLOR: #DBEDF4;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.EC_NOTICE:HOVER
{
  FONT-SIZE: 9pt;	
  COLOR: #8DC7DC;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.EC_MANUAL:LINK
{
  FONT-SIZE: 9pt;
  COLOR: #FFFFFF;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.EC_MANUAL:VISITED
{
  FONT-SIZE: 9pt;
  COLOR: #FFFFFF;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.EC_MANUAL:HOVER
{
  FONT-SIZE: 9pt;	
  COLOR: #FF9900;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

A:LINK
{
  FONT-SIZE: 9pt;
  COLOR: #4B4B4B;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

A:VISITED
{
  FONT-SIZE: 9pt;
  COLOR: #4B4B4B;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

A:HOVER
{
  FONT-SIZE: 9pt;	
  COLOR: #F86B05;
  LINE-HEIGHT: 17px;
  TEXT-DECORATION: NONE;
  FONT-FAMILY: "±¼¸²", "Arial", "sans-serif"
}

.WEBHOSTING01
{
  BACKGROUND-COLOR:#9C8E6B;
}

.WEBHOSTING02
{
  BACKGROUND-COLOR:#F9F8F7;
}

.WEBHOSTING03
{
  BACKGROUND-COLOR:#CBC4B1;
}

.WEBHOSTING04
{
  BACKGROUND-COLOR:#F2F0EE;
}

.WEBMAIL01
{
  BACKGROUND-COLOR:#185195;
}

.WEBMAIL02
{
  BACKGROUND-COLOR:#F2F7FD;
}

.WEBMAIL03
{
  BACKGROUND-COLOR:#B7CEF4;
}

.WEBMAIL04
{
  BACKGROUND-COLOR:#E9EFFC;
}

.STREAMING01
{
  BACKGROUND-COLOR:#7A3FA4;
}

.STREAMING02
{
  BACKGROUND-COLOR:#F9F3FA;
}

.STREAMING03
{
  BACKGROUND-COLOR:#CEB4E2;
}

.STREAMING04
{
  BACKGROUND-COLOR:#ECE2F3;
}

.MYHG01
{
  BACKGROUND-COLOR:#487D1A;
}

.MYHG02
{
  BACKGROUND-COLOR:#F6F8F4;
}

.MYHG03
{
  BACKGROUND-COLOR:#BFCEAE;
}

.MYHG04
{
  BACKGROUND-COLOR:#EBEFE5;
}


.SERVER01
{
  BACKGROUND-COLOR:#185195;
}

.SERVER02
{
  BACKGROUND-COLOR:#F2F7FD;
}

.SERVER03
{
  BACKGROUND-COLOR:#B7CEF4;
}

.SERVER04
{
  BACKGROUND-COLOR:#E9EFFC;
}

.ECHOSTING01
{
  BACKGROUND-COLOR:#97AEAB;
}

.ECHOSTING02
{
  BACKGROUND-COLOR:#F5F8F8;
}

.ECHOSTING03
{
  BACKGROUND-COLOR:BFD5D2;
}

.ECHOSTING04
{
  BACKGROUND-COLOR:#E9EFEF;
}

.ECDESIGN01
{
  BACKGROUND-COLOR:#647DA4;
}

.ECDESIGN02
{
  BACKGROUND-COLOR:#F9FBFB;
}

.ECDESIGN03
{
  BACKGROUND-COLOR:#B3BFD2;
}

.ECDESIGN04
{
  BACKGROUND-COLOR:#ECF2F4;
}

.SMSHOSTING01
{
  BACKGROUND-COLOR:#BE580D;
}

.SMSHOSTING02
{
  BACKGROUND-COLOR:#FBF6F2;
}

.SMSHOSTING03
{
  BACKGROUND-COLOR:#DCBAA1;
}

.SMSHOSTING04
{
  BACKGROUND-COLOR:#F5E9E0;
}

